In [16]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['London', 'Paris', 'Berlin']
}
df = pd.DataFrame(data)
print(df)

      Name  Age    City
0    Alice   25  London
1      Bob   30   Paris
2  Charlie   35  Berlin

In [ ]:
df = pd.read_csv('filename.csv')

In [6]:
print('\nFirst 5 rows:\n', df.head())        
print('\nLast 5 rows:\n', df.tail())        
print('\nInfo about DataFrame:\n', df.info())        
print('\nStatistics:\n', df.describe())

First 5 rows:
       Name  Age    City
0    Alice   25  London
1      Bob   30   Paris
2  Charlie   35  Berlin

Last 5 rows:
       Name  Age    City
0    Alice   25  London
1      Bob   30   Paris
2  Charlie   35  Berlin
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

Info about DataFrame:
 None

Statistics:
         Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [8]:
print('\n', df['Name'])               # Select column
print('\n', df.loc[0])                # Select row by index
print('\n', df.iloc[1:3])             # Select rows by position

 0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

 Name     Alice
Age         25
City    London
Name: 0, dtype: object

       Name  Age    City
1      Bob   30   Paris
2  Charlie   35  Berlin

In [9]:
adults = df[df['Age'] > 28]
print(adults)

      Name  Age    City
1      Bob   30   Paris
2  Charlie   35  Berlin

In [17]:
df['Country'] = ['UK', 'France', 'Germany']   # Add column
print(df)
df = df.drop('City', axis=1)                  # Remove column
print(df)

      Name  Age    City  Country
0    Alice   25  London       UK
1      Bob   30   Paris   France
2  Charlie   35  Berlin  Germany
      Name  Age  Country
0    Alice   25       UK
1      Bob   30   France
2  Charlie   35  Germany

In [19]:
grouped = df.groupby('Country')['Age'].mean()
print(grouped)

Country
France     30.0
Germany    35.0
UK         25.0
Name: Age, dtype: float64

In [20]:
df.to_csv('output.csv', index=False)